.WelcomePageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  .LoginLogout {
    font-weight: bold !important;
    background-color: #e0e1dd !important;
    color: #1b263b !important;
    &:hover {
      color: #e0e1dd !important;
      background-color: #1b263b !important;
      cursor: pointer;
    }
    .GoogleIcon {
      height: 20px;
      margin-left: 5px;
    }
  }
}
