@mixin container {
  width: 75%;
  margin: 0 auto;
  background-color: #e0e1dd;
  height: 100%;
  padding-bottom: 1rem;
}

@mixin link {
  text-decoration: none;
  color: white;
  &:hover {
    color: #e0e1dd;
    cursor: pointer;
  }
}
