@import "../global.scss";

.Container {
  @include container;

  padding-bottom: 0;
  .TableContainer {
    @include scrollBar;
    .TableHead {
      width: 100%;
      .TableHeadCell {
        background-color: #e0e1dd;
      }
    }
    .TableRow {
      &:hover {
        background-color: #e0e1dd;
        cursor: pointer;
      }
    }
    .AvatarImg {
      height: 30px;
    }
  }
}
