@import "../global.scss";

.Container {
  @include container;

  padding-bottom: 0;
  .TableContainer {
    @include scrollBar;
    .TableHead {
      width: 100%;
      .TableHeadCell {
        background-color: #e0e1dd;
        .AddCart {
          &:hover {
            cursor: pointer;
            color: #778da9;
            transform: scale(1.1);
          }
        }
      }
    }
    .TableRow {
      &:hover {
        background-color: #e0e1dd;
        cursor: pointer;
      }
    }
    .AvatarImg {
      height: 30px;
    }
    .CartIcon {
      height: 20px;
      &:hover {
        cursor: pointer;
        transform: scale(1.4);
      }
    }
  }
}
